
  
  table {
    width: 100%;
  }
  
  
.container {
    
    display:inline-block;
    width:99%;
    height:12x;
    padding: 6px;
    margin-left:8 px;
    margin-top: 8px;
    background: lightgray;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
}
