

<div class ="container" >
 <div class="row">
      <div class="col-md-4" id = "search">
           <input type="text" placeholder="keyboard" (keyup) = "applyFilter($event.target.value)"> 
        <button type="button" style = " background: red; size:25px" ><i class="fa fa-search" style = "color: white"></i></button> 
<!-- <input matInput (keyup) = "applyFilter($event.target.value)" aria-placeholder="keyword"><i class="fa fa-search" style = "size:20px; background: red; color: white"></i> -->
      </div>
      <div class="col-md-4">
          <p>Resource Catalog</p></div>

      <div class="col-md-4">
         <button mat-button [matMenuTriggerFor]="menu" >
           <i class="fa fa-plus-square" style="font-size:24px; color:red; float:right;"></i> </button> </div>
           
        
<mat-menu #menu="matMenu">
  <button mat-menu-item (click) = "addRow()"><i class = "fa-align-left" style = "font-size: 18px; padding-right: 10px"></i>Add Row</button>
  <button mat-menu-item (click) = "addColum()"><i class = "fa fa-columns" style = "font-size: 18px; padding-right: 10px"></i>Add Column</button>
  <button mat-menu-item (click) = "importCSV()"> <i class = "fa-file-excel-o" style = "font-size: 18px; padding-right: 10px"></i>Import csv</button>
</mat-menu>
        
</div>

  <span *ngIf = "editflag">
   <table mat-table [dataSource]="resourceData" class="example-container mat-elevation-z8"> 
    
    <!-- Resource name  Column -->
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> RESOURCE NAME </th>
      <td mat-cell *matCellDef="let data"> {{data.name}} </td>
      <td mat-footer-cell  *matFooterCellDef> 
        <input value = "" [(ngModel)] = "newRow.name"/></td>       
    </ng-container>
      <!-- <mat-footer-cell  [ngStyle]="{'display':displayInput}" *matFooterCellDef> 
          <form [formGroup]="rowForm" > 
            <div class="newRow"  >
                 <label *ngIf = "i == 1"> 
                  <span class = "newRowCheck">
                      <i class="fa fa-check " aria-hidden="true" (click)="onSubmitRow()"></i></span>  
                  <span class = "betweenCheck"> </span>
                  <span class = "newRowCheck">
                    <i class="fa fa-times " aria-hidden="true" (click) ="onCancel()"></i></span> 
                  <span class = "betweenCheck"> </span>
                 </label>
              <input class="form-control newRowInput" type="text"  formControlName="name" >
            </div> </form>   
        </mat-footer-cell> -->

<!-- Resource Code Column -->

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> RESOURCE CODE</th>
      <td mat-cell *matCellDef="let data"> {{data.code}} </td>
       <td mat-footer-cell  *matFooterCellDef>
          <i class="fa fa-check " aria-hidden="true" (click)="onSubmitRow()"></i>
          <i class="fa fa-times " aria-hidden="true" (click) ="onCancel()"></i>
          <input value = "" [(ngModel)] = "newRow.code">
        </td> 
    </ng-container>
      <!-- <mat-footer-cell  [ngStyle]="{'display':displayInput}" *matFooterCellDef> 
          <form [formGroup]="rowForm" > 
            <div class="newRow"  >
                <label *ngIf = "i == 1"> 
                  <span class = "newRowCheck">
                      <i class="fa fa-check " aria-hidden="true" (click)="onSubmitRow()"></i></span>  
                  <span class = "betweenCheck"> </span>
                  <span class = "newRowCheck">
                    <i class="fa fa-times " aria-hidden="true" (click) ="onCancel()"></i></span> 
                  <span class = "betweenCheck"> </span>
              </label> 
              <input class="form-control newRowInput" type="text"  formControlName="code" >
            </div>
          </form>   
        </mat-footer-cell> -->
     
  
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let data; columns:columnsToDisplay;"></tr>
     <tr mat-footer-row *matFooterRowDef="columnsToDisplay"> </tr></table></span>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
 


  <span *ngIf = "!editflag">
      <table mat-table [dataSource]="resourceData" class="example-container mat-elevation-z8"> 
          
        <!-- Resource name  Column -->
       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> RESOURCE NAME </th>
          <td mat-cell *matCellDef="let data"> {{data.name}} </td>
</ng-container>
<!-- Resource Code Column -->

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> RESOURCE CODE</th>
      <td mat-cell *matCellDef="let data"> {{data.code}} </td></ng-container>
      <!--Row-->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let data; columns:columnsToDisplay;"></tr></table></span>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    

</div>